
/*#ContentPlaceHolder1_calFcorte {
             display:flex;
             justify-content:center;
             ju
         }*/
.fecha_t {
    display: flex;
    align-items: center;
}

.calendario {
    display: flex;
    align-items: center;
}

.principal {
    padding-top: 4%;
}

.tabla {
    background-color: whitesmoke;
    text-align: left;
    /*width:100%;*/
    border-collapse: collapse;
}

.contine_table {
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.th_t, .td_t {
    padding: 20px;
}

.encabezado_tabla {
    border-radius: 20px;
    background-color: #800040;
    border-bottom: solid 5px #800060;
    color: white;
}

}

.total {
    background-color: seagreen;
    border-top: solid 5px blue;
}